<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>



    <div class="bg">
        <div class="hero-text">
            <div class="w3-container w3-center w3-animate-top">
                <h1>Welcome to Codex</h1>
                <p>The biggest business chain of Asia </p>
                <button class="btn-get-started"> <a class="nav-link" routerLink="/Vacancy"> Join us </a></button>
            </div>
        </div>
    </div>


</body>

</html>