<div class="page">
    <nav class="menu">
        <ul class="menu__list">
            <li><a routerLink="/Home" class="menu__link">Home</a></li>
            <li><a routerLink="/Dashboard" class="menu__link"> Dashboard</a></li>
            <li><a routerLink="/userManagement" class="menu__link"> User Management</a></li>
            <li><a routerLink="/userProfile" class="menu__link"> User Profile</a></li>
            <li><a routerLink="/NewPosition" class="menu__link"> New Position</a></li>
            <li><a routerLink="/NewPost" class="menu__link"> New Post</a></li>
            <li><a routerLink="/JobPosts" class="menu__link"> Job Posts</a></li>
            <li><a routerLink="/PositionList" class="menu__link"> Job Positions</a></li>
        </ul>
    </nav>
</div>