<app-mainview ng-model="mainview"> </app-mainview>

<div class="wrapper ">
    <div class="main-panel">
        <div class="content">
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand">User Management</a>
                    </div>
                    <app-logout></app-logout>
                </div>
            </nav>
            <div class="container-fluid">
                <app-user-list></app-user-list>
            </div>
        </div>
    </div>
</div>