<div class="search-div">
  <button mat-raised-button (click)="onCreate()" class="btn btn-primary">
    <mat-icon>add</mat-icon>Add New User
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input
      matInput
      [(ngModel)]="searchKey"
      placeholder="Search"
      autocomplete="off"
      (keyup)="applyFilter()"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      *ngIf="searchKey"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
    <ng-container matColumnDef="fullname">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Full Name</mat-header-cell
      >
      <mat-cell *matCellDef="let element"
        >{{ element.firstname }} {{ element.lastname }}</mat-cell
      >
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
    </ng-container>
    <!--<ng-container matColumnDef="accessLevel">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Access Level</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.accessLevel}}</mat-cell>
          </ng-container>-->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button class="btn btn-primary" (click)="onEdit(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(row._id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageSize]="5"
    showFirstLastButtons
  ></mat-paginator>
</div>
